# Disabling pnpm hoisting so that pnpm outside of Bazel lays out a node_modules
# tree similar to what rules_js lays out under Bazel.
# See https://github.com/aspect-build/rules_js/blob/main/docs/npm_import.md
hoist=false

